.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.popup-inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}
.submitBook{
    background-color: #9fff9c;
    outline: none;
    border: 1px solid transparent;
    width: 90%;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
}
.submitBook:hover{
    filter: brightness(90%);
  }
.formElements{
    margin: 5px;
    border: 1px solid transparent;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    padding: 0px 0px 0px 12px;
    font-size: larger;
    outline: none;
}
.formElements:focus{
    border: 1px solid transparent;
}
.readBookDiv{
    display: flex;
    font-size: 20px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}
#bookRead{
    height: 20px;
    width: 50px;
}
h3{
    margin: 0px 0px 15px 0px;
    font-size: 40px;
}